@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #1E5959, #3B8C6E);
}

main {
    background-color: white;
    border-radius: 1%;
    box-shadow: 5px 5px 15px #134141;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1E5959;
    text-align: center;
    text-shadow: 1px 1px 0px #1743435b;
}

h2 {
    color: #0B2B40;
}

p {
    text-align: justify;
}