@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

h1 {
    color: rgb(90, 51, 0);
    background-color: rgb(227, 136, 0);
}

p {
    text-align: justify;
}
    
  