@charset "UTF-8";

@font-face {
    font-family: "idrod";
    src: url(fontes/idroid.otf)
    format(opentype);
    
}

:root {
    --cor0: #D6D58E;
    --cor1: #DBF227;
    --cor2: #9FC131;
    --cor3: #005C53;
    --cor4: #042940;

    --fonte-padrao: arial,verdana;     
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor3);
    min-height: 100px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    background-image: linear-gradient(to top, var(--cor4), var(--cor3));
}

header > h1 {
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.398);
    
}

header > p {
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.398);

}

nav {
    background-color: #042940;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.312);
    text-align: left;
    padding: 15px;
    font-weight: bold;
    
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.35s;
    
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

h1 {
    font-family: var(--fonte-padrao);
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.178);
    max-width: 1000px;
    min-width: 300px;
    margin: auto auto 25px auto;
}

main h1 {
    font-family: idrod;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 20px;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pequena {
    max-width: 350px;
    display: block;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;

}

div.video > iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8em;
}

main strong {
    color: var(--cor3);
    font-style: bolder;
}

main a {
    color: #005C53;
    background-color: #DBF227;
    padding: 3px;
    border-radius: 5px;
}

main a:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    padding: 3px;
    border-radius: 5px;
    transition-duration: 0.15s;
}

h2 {
    font-family: idrod;
    background-image: linear-gradient(to right, var(--cor4), white);
    color: var(--cor0);
    padding: 8px 10px;
}

aside {
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.722);
}

aside > ul {
    columns: 2;

}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    margin: -20px ;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

